<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
    <!-- 主键扫描 -->
	<context:component-scan base-package="com.app.controller" />	
     <!-- 默认加载 -->
	<mvc:annotation-driven conversion-service="conversionService"/>
	
	<!--  上传图片 配置multipart类型解析器-->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize" value="10485760000"></property>  
   </bean>  
   

	<!-- 处理器适配器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**/*.html*"/>
			<bean class="com.app.interceptor.LoginHandlerInterceptor"/>
		</mvc:interceptor>
			<!-- 处理器适配器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**/*.html*"/>
			<bean class="com.app.interceptor.RightsHandlerInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!--  自定义参数绑定-->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	<!-- 转换器 -->
	<property name="converters">
	<list>
	<!-- 日期类型转换器 -->
	<bean class="com.app.interceptor.Condatacontroller"></bean>
	</list>
	</property>
	</bean>
	
	<!-- 视图解释器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/"/>  <!--  前缀-->
		<property name="suffix" value=".jsp"/><!--  后缀-->
	</bean>
	<!-- 处理异常解释器 -->
	<bean id="exceptionResolver" class="com.app.interceptor.MyExceptionResolver"></bean>
	
	
</beans>
