<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 批量扫描 -->
	<typeAliases>
		<typeAlias type="com.app.entity.User" alias="User"/>
		<typeAlias type="com.app.entity.Role" alias="Role"/>
		<typeAlias type="com.app.entity.Menu" alias="Menu"/>
		<typeAlias type="com.app.entity.Shop" alias="Shop"/>
		<typeAlias type="com.app.entity.Type" alias="Type"/>
 	    <typeAlias type="com.app.entity.ShopPhoto" alias="ShopPhoto"/> 
 		<typeAlias type="com.app.entity.ShopPraise" alias="ShopPraise"/> 
 		<typeAlias type="com.app.entity.Gprs" alias="Gprs"/> 
 		<typeAlias type="com.app.entity.StoreStages" alias="StoreStages"/> 
 		<typeAlias type="com.app.entity.BankInnerLink" alias="BankInnerLink"/> 
 		<typeAlias type="com.app.entity.BankMessageAllocation" alias="BankMessageAllocation"/> 
 		<typeAlias type="com.app.entity.BankMessageRecord" alias="BankMessageRecord"/> 
 		
 		
 		<typeAlias type="com.app.entity.BankUser" alias="BankUser"/>
		<typeAlias type="com.app.entity.Express" alias="Express"/>
		<typeAlias type="com.app.entity.ErrorCode" alias="ErrorCode"/>
		<typeAlias type="com.app.entity.ManageBin" alias="ManageBin"/>
		<typeAlias type="com.app.entity.BankCity" alias="BankCity"/>
		<typeAlias type="com.app.entity.CityShop" alias="CityShop"/>
		<typeAlias type="com.app.entity.Template" alias="Template"/>
		<typeAlias type="com.app.entity.Rate" alias="Rate"/>
		<typeAlias type="com.app.entity.Ratess" alias="Ratess"/>
		<typeAlias type="com.app.entity.StagingType" alias="StagingType"/>
		<typeAlias type="com.app.entity.StagingPlan" alias="StagingPlan"/>
		<typeAlias type="com.app.entity.State" alias="State"/>
		<typeAlias type="com.app.entity.Paytype" alias="Paytype"/>
		<typeAlias type="com.app.entity.PaymentCity" alias="PaymentCity"/>
		<typeAlias type="com.app.entity.Patch" alias="Patch"/>
		<typeAlias type="com.app.entity.RightsPackagerkMapping" alias="RightsPackagerkMapping"/>
		<typeAlias type="com.app.entity.ProductRightsInterests" alias="ProductRightsInterests"/>
		<typeAlias type="com.app.entity.RightsType" alias="RightsType"/>
		<typeAlias type="com.app.entity.ActivityApplyList" alias="ActivityApplyList"/>  
		<typeAlias type="com.app.entity.CardInfo" alias="CardInfo"/>
		<typeAlias type="com.app.entity.CardState" alias="CardState"/>
		<typeAlias type="com.app.entity.BankMessageTemplate" alias="BankMessageTemplate"/>
		<typeAlias type="com.app.entity.BankIntegral" alias="BankIntegral"/>
		<typeAlias type="com.app.entity.BankMessageType" alias="BankMessageType"/>
		<typeAlias type="com.app.entity.BankMessageSmallType" alias="BankMessageSmallType"/>
		<typeAlias type="com.app.entity.BankCarStaging" alias="BankCarStaging"/>
	
		<typeAlias type="com.app.entity.ClientWhiteList" alias="ClientWhiteList"/>
		<typeAlias type="com.app.entity.MarketActivity" alias="MarketActivity"/>
	    <typeAlias type="com.app.entity.MarketPicture" alias="MarketPicture"/> 
	    <typeAlias type="com.app.entity.ActivityType" alias="ActivityType"/> 
	    <typeAlias type="com.app.entity.MarketActivityShop" alias="MarketActivityShop"/>
	    <typeAlias type="com.app.entity.Advert" alias="Advert"/> 
	    <typeAlias type="com.app.entity.CityGps" alias="CityGps"/> 
	    <typeAlias type="com.app.entity.ModuleFunctionName" alias="ModuleFunctionName"/>   
		<typeAlias type="com.app.entity.ActivityAndCityGps" alias="ActivityAndCityGps"/>  
		<typeAlias type="com.app.entity.StoreStages" alias="StoreStages"/> 
		<typeAlias type="com.app.entity.HappyPooll" alias="HappyPooll"/>
		<typeAlias type="com.app.entity.ClientWhiteImport" alias="ClientWhiteImport"/>
		<typeAlias type="com.app.entity.InforMation" alias="InforMation"/>
		 
		<typeAlias type="com.app.entity.StagingList" alias="StagingList"/>
		<typeAlias type="com.app.entity.BankCarBrand" alias="BankCarBrand"/>
		<typeAlias type="com.app.entity.BankCarBrandDetails" alias="BankCarBrandDetails"/>
		

		<typeAlias type="com.app.entity.CardAddInfo" alias="CardAddInfo"/>
		<typeAlias type="com.app.entity.BankCardType" alias="BankCardType"/>
        <typeAlias type="com.app.entity.BankPrFiledType" alias="BankPrFiledType"/>
        <typeAlias type="com.app.entity.BankPrSave" alias="BankPrSave"/>
		<typeAlias type="com.app.entity.BankLinesType" alias="BankLinesType"/>
        <typeAlias type="com.app.entity.BankPrRightsFiled" alias="BankPrRightsFiled"/>
        <typeAlias type="com.app.entity.BankLohasAllocation" alias="BankLohasAllocation"/>
        <typeAlias type="com.app.entity.BankControlLog" alias="BankControlLog"/>
        <typeAlias type="com.app.entity.BankControlShow" alias="BankControlShow"/>
        <typeAlias type="com.app.entity.BankStagesWhiteList" alias="BankStagesWhiteList"/>
        <typeAlias type="com.app.entity.BankTypePrompt" alias="BankTypePrompt"/>
        <typeAlias type="com.app.entity.BankPrCalendar" alias="BankPrCalendar"/>
        <typeAlias type="com.app.entity.BankTemporaryQuota" alias="BankTemporaryQuota"/>
        <typeAlias type="com.app.entity.BankMessageParameterConf" alias="BankMessageParameterConf"/>
</typeAliases>
	<plugins>
		<plugin interceptor="com.app.plugin.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*Page.*"/>
		</plugin>
	</plugins>
	
	<mappers>
		<mapper resource="mybatis/User.xml"/>
		<mapper resource="mybatis/Role.xml"/>
		<mapper resource="mybatis/Menu.xml"/>
	    <mapper resource="mybatis/Shop.xml"/>
 		<mapper resource="mybatis/Type.xml"/>
 		<mapper resource="mybatis/ShopPhoto.xml"/>
 		<mapper resource="mybatis/ShopPraise.xml"/>
 		<mapper resource="mybatis/Gprs.xml"/>
 		<mapper resource="mybatis/StoreStages.xml"/>
 		<mapper resource="mybatis/BankInnerLink.xml"/>
 		<mapper resource="mybatis/BankMessageAllocation.xml"/>
 		<mapper resource="mybatis/BankMessageRecord.xml"/>
 		
 		
 		
	    <mapper resource="mybatis/Express.xml"/>
	    <mapper resource="mybatis/ErrorCode.xml"/>
	    <mapper resource="mybatis/ManageBin.xml"/>
	    <mapper resource="mybatis/BankCity.xml"/>
	    <mapper resource="mybatis/CityShop.xml"/>
	    <mapper resource="mybatis/Template.xml"/>
	    <mapper resource="mybatis/Rate.xml"/>
	    <mapper resource="mybatis/Rates.xml"/>
	    <mapper resource="mybatis/StagingType.xml"/>
	    <mapper resource="mybatis/State.xml"/>
	    <mapper resource="mybatis/StagingPlan.xml"/>
	   	<mapper resource="mybatis/PaymentCity.xml"/>
	   	<mapper resource="mybatis/Patch.xml"/>
	   	<mapper resource="mybatis/RightsPackagerkMapping.xml"/>
		<mapper resource="mybatis/ProductRightsInterests.xml"/>
		<mapper resource="mybatis/RigthsType.xml"/>
		<mapper resource="mybatis/ActivityApplyList.xml"/> 
		<mapper resource="mybatis/CardInfo.xml"/> 
 		<mapper resource="mybatis/CardState.xml"/>
 		<mapper resource="mybatis/BankMessageTemplate.xml"/>
 		<mapper resource="mybatis/BankIntegral.xml"/>
 		<mapper resource="mybatis/BankUser.xml"/>
 		<mapper resource="mybatis/BankCarStaging.xml"/>
 		 
 		
	    <mapper resource="mybatis/ClientWhiteList.xml"/>
	    <mapper resource="mybatis/MarketActivity.xml"/>
	    <mapper resource="mybatis/MarketPicture.xml"/>
	    <mapper resource="mybatis/ActivityType.xml"/>
	    <mapper resource="mybatis/MarketActivityShop.xml"/>
	    <mapper resource="mybatis/ModuleFunctionName.xml"/>
	    <mapper resource="mybatis/CityGps.xml"/>
	    <mapper resource="mybatis/ActivityAndCityGps.xml"/>
	    <mapper resource="mybatis/HappyPooll.xml"/>
	    <mapper resource="mybatis/WebDav.xml"/>
	    <mapper resource="mybatis/ImportHtml.xml"/>

	    <mapper resource="mybatis/InforMation.xml"/>
	    <mapper resource="mybatis/BankCodeType.xml"/>
	    <mapper resource="mybatis/BankCodeInfo.xml"/>
	    <mapper resource="mybatis/BankEditorSave.xml"/>
 
	    <mapper resource="mybatis/StagingList.xml"/>
	    <mapper resource="mybatis/BankCarBrand.xml"/>
	    <mapper resource="mybatis/BankCarBrandDetails.xml"/>

	    <mapper resource="mybatis/CardAddInfo.xml"/>
	    <mapper resource="mybatis/BankCardType.xml"/>
	    <mapper resource="mybatis/BankPrActivityInfo.xml"/>
        <mapper resource="mybatis/BankPrFiledType.xml"/>
        <mapper resource="mybatis/BankPrSave.xml"/>
	    <mapper resource="mybatis/BankLinesType.xml"/>
	    <mapper resource="mybatis/BankPrRightsFiled.xml"/>
	    <mapper resource="mybatis/BankLohasAllocation.xml"/>
	    <mapper resource="mybatis/BankControlLog.xml"/>
	    <mapper resource="mybatis/BankStagesWhiteList.xml"/>
	    <mapper resource="mybatis/BankTypePrompt.xml"/>
	    <mapper resource="mybatis/BankPrCalendar.xml"/>
        <mapper resource="mybatis/BankTemporaryQuota.xml"/>
        <mapper resource="mybatis/BankMessageParameterConf.xml"/>
 	</mappers>
	
</configuration>